.logo-container {
  position: absolute;
  top: -80px;
  left: 25%;
  transform: translateX(-50%);
  height: 240px;
}
.header-logo {
  height: 240px;
  width: auto;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}


.listings-grid {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}
